@tailwind base;
@tailwind components;
@tailwind utilities;

/* 주배경 (min-h-[footer높이(5rem)]) */
.bg-primary { 
    @apply
     bg-white
     dark:bg-slate-800 
     h-fit 
    min-h-[calc(100vh-5rem)] 
    w-full
}

/* footer 높이:5rem */
footer {
    @apply text-gray-600 dark:text-white bg-gray-100 dark:bg-gray-600/50 h-20 w-screen relative bottom-0
}

h1, h2, h3, h4, h5, h6 {
    @apply text-green-600 dark:text-green-300
}

pre {
    @apply text-slate-900 dark:text-white
}

html {
    @apply h-screen;
}


a {
    @apply text-slate-100
}

p {
    @apply text-slate-900 dark:text-slate-400
}

.board-item {
    @apply flex 
           flex-col 
           m-0 
           rounded-xl 
           transition 
           duration-300 
           transform 
           border 
           hover:scale-105 
           hover:shadow-lg 
           dark:border-gray-200/50
}

.container {
    @apply h-full
}

.main-governing-text {
    @apply leading-relaxed text-slate-900 mb-10 dark:text-slate-400
}