@tailwind base;
@tailwind components;
@tailwind utilities;

/* 주배경 (min-h-[footer높이(5rem)]) */
.bg-primary { 
    @apply
     bg-white
     dark:bg-slate-800 
     h-fit 
    min-h-[calc(100vh-5rem)] 
    w-full
}

/* footer 높이:5rem */
footer {
    @apply text-gray-600 dark:text-white bg-gray-100 dark:bg-gray-600/50 h-20 w-screen relative bottom-0
}

h1, h2, h3, h4, h5, h6 {
    @apply text-green-600 dark:text-green-300
}

pre {
    @apply text-slate-900 dark:text-white
}

html {
    @apply h-screen;
}


a {
    @apply text-slate-100
}

p {
    @apply text-slate-900 dark:text-slate-400
}

.board-item {
    @apply flex 
           flex-col 
           m-0 
           rounded-xl 
           transition 
           duration-300 
           transform 
           border 
           hover:scale-105 
           hover:shadow-lg 
           dark:border-gray-200/50
}

.container {
    @apply h-full
}

.main-governing-text {
    @apply leading-relaxed text-slate-900 mb-10 dark:text-slate-400
}

.category-item {
    @apply text-green-600 dark:text-green-300 text-xs
}
.talkitem-title {
    font-size: 14px;
}

.talkitem-content {
    font-size: 12px;
}

/*chat-bot */

.react-chatbot-kit-chat-inner-container {
    @apply relative w-full
}

.react-chatbot-kit-chat-bot-message {
    @apply 
    bg-slate-100 dark:bg-slate-700
    text-slate-900 dark:text-slate-100
     ml-0 w-1/3    
  }

.react-chatbot-kit-user-chat-message {
    @apply 
    bg-yellow-100 dark:bg-slate-500
    text-slate-900 dark:text-slate-100
     mr-0 w-1/3 text-right
}

.react-chatbot-kit-chat-message-container {
    @apply 
    bg-slate-400 dark:bg-slate-700
    text-slate-900 dark:text-slate-100
  }

.react-chatbot-kit-chat-input {
    @apply 
    bg-slate-300 dark:bg-slate-500
    text-slate-900 dark:text-slate-100
    placeholder-slate-900 dark:placeholder-slate-200
  }

.react-chatbot-kit-chat-container {
    @apply relative w-full
}

.learning-options-container {
display: flex;
align-items: flex-start;
flex-wrap: wrap;
}

.learning-option-button {
padding: 0.5rem;
border-radius: 25px;
background: transparent;
border: 1px solid green;
margin: 3px;
}
